


body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}


.cover {
  display:block; position:fixed; top:0; left:0; right:0; bottom:0; 
  background-image:  url(/img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
}



footer {
  position:fixed; display:block; bottom:0; right:0; background-color:transparent;
  

}

